<script>
var word = "Masih kubiarkan anganku melayang bersama hembusan angin malam...";

var i = 0;

var timer = setInterval(function(){

    document.getElementById("tr").innerHTML+=word[i];i++;if(i>word.length-1){clearInterval(timer)}

},100)
</script>


/*akankah*/
<span id="tr"></span>
<br/>

<!------------------------------------------------>
<center>
<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div id="tradingview_6f792"></div>
  <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/BINANCE-BTCUSDT/" rel="noopener" target="_blank"><span class="blue-text">BTCUSDT Chart</span></a> by TradingView</div>
  <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
  <script type="text/javascript">
  new TradingView.widget(
  {
  "width": 650,
  "height": 400,
  "symbol": "BINANCE:BTCUSDT",
  "interval": "15",
  "timezone": "Asia/Jakarta",
  "theme": "dark",
  "style": "8",
  "locale": "en",
  "toolbar_bg": "#f1f3f6",
  "enable_publishing": false,
   "hide_legend": false,
  "hide_side_toolbar": false,
  "allow_symbol_change": true,
  "studies": [
    "BollingerBandsR@tv-basicstudies",

    "MASimple@tv-basicstudies",
    "MASimple@tv-basicstudies",
    "BB@tv-basicstudies"

  ],
  "referral_id": "fcloudmining",
  "container_id": "tradingview_e98a3"
}
  );
  </script>
</div>
<!-- TradingView Widget END -->
</center>
<!------------------------------------------------>

